<main>
    <div class="container">
        <div class="form-div">
            <div class="title">
                <h1 class="text-uppercase title-text"> </h1>
                <hr>
                <h3 class="text-uppercase title-text"> apana college | challenge accepted</h3>
            </div>
            <div class="form-container">
                <form action="#" method="post" class="text-uppercase">
                    <label for="fname">Nombre y Apellido:<br>
                        <input class="input" name="name" type="text">
                    </label><br>
                    <label for="fname">Nombre de Usuario:<br>
                        <input id="name" name="username" type="text" class="input">
                    </label><br>
                    <label for="fname">Domicilio:<br>
                        <input id="name" name="username" type="text" class="input">
                    </label><br>
                    <label for="date" class="floatLabel">Fecha de Nacimiento</label>
                    <input  name="birthdate" type="date">
                    <label for="profile" class="floatLabel">Perfil de Usuario</label>
                    <input type="radio" name="userprofile" value="sell">Comprar</input>
                    <input type="radio" name="userprofile" value="buy">Vender</input>
                    <label for="submit">
                        <button type="submit" class="text-uppercase button">Enviar</button>
                        <button type="reset" class="text-uppercase button">Cancelar</button>
                    </label><br>
                </form>
            </div>
        </div>
    </div>