<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="topheader">
                    <div class="logo-container">
                        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Podcastslogo">
                    </div>
                    <div class="search">
                        <form action="#" method="POST">
                            <input class="search-input" type="text" placeholder="Buscá productos, marcas">
                            <i class="search-icon fas fa-search"></i>
                        </form>
                    </div>
                </div>
                <div class="bottomheader">
                    <span><i class=" money-icon fas fa-hand-holding-usd"></i>Compra en coutas y sin tarjeta de credito</span>
                </div>
            </div>
            <nav class="nav-bar">
                <input type="checkbox" id="chk-nav-bar">
                <div class="menu-options">
                    <ul class="nav-site">
                        <li><a class="menu-options-links" href="#Ofertas">Ofertas</a></li>
                        <li><a class="menu-options-links" href="#Tiendas">Tiendas Oficiales</a></li>
                        <li><a class="menu-options-links" href="#vender">Vender</a></li>
                        <li><a class="menu-options-links" href="#Ayuda">Ayuda</a></li>
                    </ul>
                    <ul class="nav-login">
                        <li><a class="menu-options-links" href="/register">Crea tu cuenta<i class="header-icon far fa-address-card"></i></a></li>
                        <li><a class="menu-options-links" href="#loging">Ingresa<i class="header-icon fas fa-sign-in-alt"></i></a></li>
                        <li><a class="menu-options-links" href="#miscompras">Mis compras<i class=" header-icon fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
                <label for="chk-nav-bar" id="burger-close" class="burger-close"><span><i class="nav-icon close-icon fas fa-times"></i></span></label>
                <label for="chk-nav-bar" id="burger-open"><span class="hamburger"><i class="nav-icon burger-icon fas fa-bars"></i>
                </span></label>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <h1>Completá tus datos</h1>
                <div class="contact-form">
                    <form class="contact" method="GET" action="/">
                        <div class="name-section">
                            <div class="line">
                                <label for="name"></label>
                                <input class="input" type="text" name="name" id="name" placeholder="Nombre" required/>
                                <span class="feedback">Revisá tu nombre</span>
                            </div>
                            <div class="line">
                                <label for="lastname"></label>
                                <input class="input" type="text" name="lastname" id="lastname" placeholder="Apellido" required/>
                                <span class="feedback">Revisá tu Apellido</span>
                            </div>
                        </div>
                        <div class="line">
                            <label for="address"></label>
                            <input class="input" type="text" name="address" id="address" placeholder="Direccion" required>
                            <span class="feedback">Revisá tu domicilio</span>
                        </div>
                        <div class="bday-line liner">
                            <label for="date">Fecha de Nacimiento</label>
                            <input class="bday-box" name="birthdate" type="date" required>
                        </div>
                        <div class="user-line liner">
                            <label for="profile">Perfil de Usuario</label>
                            <div class="profile-radios">
                                <input type="radio" name="userprofile" value="sell">Comprar</input>
                                <input type="radio" name="userprofile" value="buy">Vender</input>
                            </div>
                        </div>
                        <div class="options liner">
                            <label for="electro" class="checkbox">Electro</label>
                            <input type="checkbox" name="electro">
                             <label for="fashion" class="checkbox">Moda</label>
                            <input type="checkbox" name="fashion">
                            <label for="home" class="checkbox">Hogar</label>
                            <input type="checkbox" name="home">
                            <label for="toys" class="checkbox">Juguetería</label>
                            <input type="checkbox" name="toys">
                        </div>
                        <div class="file-container liner">  
                            <div class="file-uploader">
                                <label for="file-input"><i class="fas fa-user-plus"></i>Subi tu foto</label>
                                <input id="file-input" type="file" accept="image/png, image/jpeg"/>
                            </div>
                        </div>
                        <div class="pass-container">
                            <div class="liner">
                                <label for="pwd"></label>
                                <input type="password" id="pwd" name="password" placeholder="Contraseña" required/>
                                <span class="feedback">Revisá tu Contraseña</span>
                            </div>
                            <div class="liner">
                                <label for="pwdconfirmed"></label>
                                <input type="password" id="pwd-cnf" name="password-confirmed" placeholder=" Confirmar Contraseña" required>
                                <span class="feedback">Revisá tu Contraseña</span>
                            </div>
                        </div>
                        <div class="btn-container">
                            <input type="submit" name="submit" value="Enviar" class="btn send-btn"/>
                            <input type="reset" name="reset" value="Borrar" class="btn reset-btn"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>