:root {
	--main-yellow: #EAC926;
	--dark-blue:#03264C;
	--light-blue:#1259c3;
	--dark-grey:#666;
	--light-grey:#ebebeb;
	--plain-white: white;
	--green: #39b54a;
	--body-size: 12px;
	--heading-size: 12px;
	--price-size: 18px;
	--discount-size: 16px;
	--description-size:16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: var(--body-size);
	background-color: var(--light-grey);
}

/*Home banner styles */

.homebanner {
	width: 100%;
}

main {
	margin: 0 auto;
	width: 90%;
}

/*Last seen section */


.visited {
	width: 90%;
}

.visited h3 {
	color:var(--dark-grey);
	
}

.product-img {
	width: 100%;
}


.visited .product-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}

.product {
	width: 100%;
	padding: 20px;
}

.product-background {
	background-color: #fff;
}

.product .price {
	font-size: 18px;
}
.product .discount {
	flex-grow: 0.9;
}

.product .discount,
.product .description {
	font-size: 16px;
	font-weight: normal;
}

.product .description {
	color: #666;
}

.description {
	display: none;
}

.product img {
	width: 100%;
}

.truck-icon,
.discount {
	color: #39b54a;
}

.truck-icon {
	font-size: 16px;
	padding: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid #39b54a;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: -15px;
}

.product .article {
	width: 100%;
	border-top: 1px solid #ebebeb;
	padding: 15px;
	position: relative;
}

.price-container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}


@media (min-width: 768px) {
	.product .description {
		display: initial;
	}
	
	.product {
		width: 50%;
	}
	
	.product .product-background {
		box-shadow: 0px 0px 10px rgb(100, 100, 100);
	}
}

@media (min-width: 1200px) {
	.product {
		width: 25%;
	}
}


