:root {
	--main-yellow: #EAC926;
	--dark-blue:#03264C;
	--light-blue:#1259c3;
	--dark-grey:#666;
	--light-grey:#ebebeb;
	--plain-white: white;
	--green: #39b54a;
	--body-size: 12px;
	--heading-size: 12px;
	--price-size: 18px;
	--discount-size: 16px;
	--description-size:16px;
}

body {
    background-color: var(--plain-white);
    font-family: 'Roboto', sans-serif;
	font-size: var(--body-size);
}


h1 {
    margin: 0 0 30px 10px;
}

label {
display: block;
margin: 0 0 10px 10px;
}

#contact label {
width: 23%;
font-size: 150%;
text-align: left;
}
.input {
width: 94.3%;
font-size: 100%;
margin-left: 10px;	
}
    
.line input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    border-color: var(--dark-grey);
    padding-bottom: 5px;
}

.line input:hover {
    border-color: var(--light-blue);
}

.line input:focus {
    outline: none;
}

.line input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:var(--description-size);
  }
  .line input::-moz-placeholder { /* Firefox 19+ */
font-size: var(--description-size);
  }
  .line input:-ms-input-placeholder { /* IE 10+ */
    font-size:var(--description-size) ;
  }
  .line input:-moz-placeholder { /* Firefox 18- */
    font-size: var(--description-size);
  }

.line {
    padding: 15px 0;
}

#contact .button {
margin-left: 10px;
font-size: 130%;
}

